.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	top: 10px; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
}
.header-brand {
	color: tomato;
}
.header-list {
	display: flex;
}
.header-list li {
	margin-left: 10px;
	margin-right: 10px;
	list-style: none;
}
a {
	text-decoration: none;
}

.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("https://source.unsplash.com/PoD5OldJQMQ/1600x900");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
	margin: 58px;
}

.landing-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.landing-image {
	height: 250px;
	width: 200px;
	margin: 5px;
	padding: 5px;
	background: grey;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: grey;
}

.footer ul {
	display: flex;
}

.footer ul li {
	list-style: none;
	margin: 5px;
}

.footer ul li a {
	text-decoration: none;
}

.dropdown-content {
	display: none;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.productHeader {
	margin-top: 50px;
	text-align: center;
}

.renderProdul {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
}

.renderProdli {
	flex-basis: 450px;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background: rgb(214, 219, 255);
}

.renderProdli img {
	width: 400px;
	height: 350px;
}

.imgDetails {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.imgDetails img {
	margin: 5px;
	width: 400px;
	height: 350px;
}

.imgCategory {
	display: flex;
	flex-direction: column;
}

.uploadForm {
	margin-top: 150px;
	margin-bottom: 50px;
	border: solid black 2px;
	padding: 20px;
}

.cart {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.cart-item {
	border: solid grey 2px;
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
	list-style: none;
}

/*
// K2KL5NRvbxY

// https://source.unsplash.com/PoD5OldJQMQ/1600x900

// b6e21dd440b378fb1e3cdaf5b9b7690be9cb4c2e62459ddc5df1c25b8e00cea7   id
// 57c2896564e15ded1c140ce1b7721210dbe02e11ed6d6d1b2593e2211e8fcb38   secret*/
